:root{
  --bg-color:#202020;
  --bg-alt-color: #2b2b2b;
  --fg-color: #d4d4d4;
  --highlight-color: #264f78;
  --grey-color: #535353;
  --green-color: #6a9955;
  --blue-color: #76b9ed;
  --orange-color: #ce9178;
  --yellow-color: #d7ba7d;
  --purple-color: #C586C0;
  --darkblue-color: #569CD6;
}

@-moz-document url("about:home"),url("about:blank"),url("about:newtab"),url("about:privatebrowsing"){
  body{ background: var(--bg-color) !important }
}

*{
  scrollbar-color: var(--grey-color) var(--bg-color) !important;
}



/*Sonic Timeout*/
.netTimeout #errorPageContainer{background-image: url("sonicfoottap.gif") !important;}
html body.illustrated.netTimeout.neterror div#errorPageContainer.container div#text-container div.title h1.title-text{
font-size: 0px !important;}
html body.illustrated.netTimeout.neterror div#errorPageContainer.container div#text-container div.title h1.title-text::before{font-size: 32px !important;content: "You're too slow!" !important;}
html body.illustrated.netTimeout.neterror div#errorPageContainer.container div#text-container div#errorLongContent div#errorShortDesc::before{font-size: 15px;content: "(Actually, it's the server)";}